{% extends 'base.html.twig' %}

{% block title %}Extension index{% endblock %}

{% block body %}
    <main class="px-3">
    <h1>Extension</h1>
    <input type="text" id="search" class="form-control" placeholder="Search">

    <table class="table" hidden="hidden" >

        <tbody>
        {% for extension in extensions %}
            <tr>


                <td>
                    <div class="row">
                    <div class="col-6">
                    {{ extension.apkName }}
                        <span class="badge badge-primary">{{ extension.updatedAt ? extension.updatedAt|date('Y-m-d H:i:s') : '' }}</span>
                    </div>
                        <div class="col-6">
                            <a href="{{ asset('apk/extensions/'~extension.ApkName) }}"> <i class="fa-solid fa-download"></i> </a>
                        </div>
                    </div>

                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% if app.user %}
    <a href="{{ path('app_extension_new') }}">Create new</a>
{% endif %}
    </main>

    <script>
        document.getElementById('search').addEventListener('input', function() {
            let search = this.value;
            let rows = document.querySelectorAll('table tbody tr');
            rows.forEach(row => {
                let found = false;
                row.querySelectorAll('td').forEach(cell => {
                    if (cell.textContent.includes(search)) {
                        found = true;
                    }
                });
                if (found) {
                    row.style.display = '';
                    document.querySelector('table').removeAttribute('hidden');
                } else {
                    row.style.display = 'none';
                    document.querySelector('table').attributes.hidden = true;
                }
            });
        });
        // document.querySelector('table').removeAttribute('hidden');
    </script>

{% endblock %}
