<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img ngSrc="assets/img/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Exetension Tachi
      </a>
    </div>
  </nav>

  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Welcome to Tachi Source</h1>
            <p class="lead">Trouve dans se table la liste des extension deja disponible pour tachiyomi</p>
            <a href="#" class="btn btn-primary">Learn More</a>
        </div>
        <div class="col-md-6">
            <img src="assets/img/APK.png" class="img-fluid" alt="Hero Image">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          <form action="">
            <label for="file">Upload your file</label>
            <input type="file" class="form-control">
          </form>
        </div>
        <div class="col-md-8">
           <app-table-search></app-table-search>
        </div>
    </div>

    
</div>

