<footer class="mt-auto text-white-50">
    <p>Template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, redesign by <a href="https://github.com/soo-essoklina-ulrich/" target="_blank" class="text-white ">@S~Ul04</a> and <a class="text-white" href="https://github.com/">@Kof01</a></p>
</footer>