<div class="cover-container d-flex w-100 h-25 p-3 mx-auto flex-column">
<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0">TachiSource</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="{{ path('app_home') }}">Home</a>
            <a class="nav-link fw-bold py-1 px-0" href="{{ path('app_extension_index') }}">Extension</a>
            <a class="nav-link fw-bold py-1 px-0" href="{{ path('app_contact') }}">Contact</a>
        </nav>
    </div>
</header>
</div>